/* general stiff */
html, body, #my-all  { height: 100%; }
html,body{font-size:18px;}
table,th,td{border:1px solid #ccc}
table tr:nth-child(odd){background-color:#fff}
table tr:nth-child(even){background-color:#f1f1f1}
h3, h4 {font-weight: bold;}
img{margin:0px 10px;}
code{ 
    background-color: black;
    color: white;
    font-size: 85%;
    padding: .2em .4em;
    font-family: SFMono-Regular, monospace;
}

/*my id*/
#my-clouds{
    position: absolute;
    display: block;
    top: 10px;
    width: 100%;
}

#my-main{
    padding:32px;
    min-height:100%;
    height: auto;
}

#my-side-button{
    position:fixed; 
    margin:10px; 
    padding:10px;
}

#my-side-text{
    display:none;
    font-size: 16px;
    z-index:3;
    width:250px;
}

#my-side-text li {
    list-style-type: none;    
}

#my-overlay{
    cursor:pointer;
}

#my-all{
    margin-left:250px;
}

#my-avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto 20px;
  box-shadow: 0px 0px 5px 3px #C0D5F5;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#my-avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

#my-side-close{
    position:fixed;
    width: auto;
    display: block;
    z-index:1;
    bottom:0
}

#my-footer {
    clear: both;
    position: relative;
}




/* my class */
.w3-sidenav .my-norm {
    display: inline;
    padding:0px;
    margin:0px 5px;  
}

.w3-sidenav .w3-center a:hover {
    background-color: transparent ! important;
}

.my-no-dec{
    text-decoration: none ! important;;
}

.my-light-blue {
    color: #000 !important;
    /* background-color: #C0D5F5 !important; */
    background-color: #C0DDFF !important;
}

.my-margin-18 {
    margin:18px 0px;
}

.my-padleft-32 {
    padding-left:32px;
}

.highlight{
    margin:0px 10px; 
    padding: 0px 4px;
}


.my-slides{
    height: 300px;
    overflow-y: hidden;
}

.my-slide-button {
    position:absolute;
    bottom:0;
     left:0;
      right:0;
    width:100%;
}


.my-slide-left{
    margin-left:20px;

}


.my-slide-right{
    margin-right:20px;

}

.my-no-pad{
    padding: 0px ! important;
}




